h1.encabezado{
    font-size: 40px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    line-height:100px;
    font-weight: 700;
    margin-top: 40px;
}
.evento-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    row-gap: 16px;
    column-gap: 16px;
}
p.subtitulo {
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid #b1b1b1;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    line-height: 50px;
}

.eventoAcademico, .eventoDeportivo, .eventoCultural  {
    display: flex;
    background: #cbebd9;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    margin: 10px 0;
    text-decoration: none;
    color: inherit;
    height: 150px;
} 

.eventoAcademico:hover,
.eventoDeportivo:hover,
.eventoCultural:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.evento-container .evento-left {
    background: var(--color-sexto);
    min-width: 82px;
    display: flex;
    align-items: left;
    justify-content: center;
    color: #eee;
    padding: 8px 8px;
    font-weight: bold;
    text-align: center;
    border: white;
}
.evento-container .numero_dia {
    font-size: 56px;
}
.evento-left .mes{
    font-size: 16px;
    font-weight: normal;
}

.evento-rigth {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    background: #7cebd5;
    line-height: 1.02rem;
}

.evento-rigth .hora-evento{
    line-height: 1.5rem;
}

.descrip-evento{
    font-size: 0.9rem;
    margin: 5px 0;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.4s ease;
}

.eventoAcademico:hover .descrip-evento,
.eventoDeportivo:hover .descrip-evento,
.eventoClutural:hover .descrip-evento {         
    overflow: visible;
}

.tabs {
    display: flex;
    gap: 20px;   
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.tabs .tab {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none; 
    color: #000000;
    line-height: 20px;
    border-bottom: 1px solid #b1b1b1;
}

.buscar_evento {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    margin: 10px auto ;
    padding: 0 10px ;
}

.buscar_evento input {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}

.eventoDeportivo .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_deportivo.png"); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.eventoCultural .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_cultural.png"); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.eventoAcademico .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_academico.png"); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.btn-buscar {
    background: var(--color-primario); 
    color: white;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: var(--borde-radio-2);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(128, 233, 140, 0.4);
    transition: all 0.3s ease;
}

.btn-buscar:hover {
    background: var(--color-secundario);
    box-shadow: 0 6px 12px rgba(110, 219, 236, 0.5);
    transform: translatey(1px);
}