h1.encabezado{
    font-size: 40px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    line-height:100px;
    font-weight: 700;
    margin-top: 40px;
}
.evento-container {
    max-width: 800px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    row-gap: 16px;
    column-gap: 16px;
} 

@media (max-width: 800px) {
    .evento-container {
    grid-template-columns: 1fr;
    }
}

h3.subtitulo {
    position: relative;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid var(--color-g3);
    max-width: 800px;
    margin: 0 auto 1rem auto;
    display: block;
    line-height: 70px;
    color: var(--color-g1);
    padding-left: 1rem;
    font-weight: 600;
}

h3.subtitulo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1.3rem;
    width: 4px;
    height: 2rem;
    background: var(--color-primario);
    border-radius: 2px;
}

.eventoAcademico, .eventoDeportivo, .eventoCultural  {
    display: flex;
    background: #cbebd9;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    margin: 10px 0;
    text-decoration: none;
    color: inherit;
    height: 150px;
} 

.eventoAcademico:hover,
.eventoDeportivo:hover,
.eventoCultural:hover{
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
    background: linear-gradient(90deg, #e0e0e0 25%, #ace3ed 50%, #9cfce7 75%);
    background-size: 200% 100%;
    animation: opalite 1.8s infinite;
}

@keyframes opalite {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

.evento-left {
    background:var(--color-sexto);
    min-width: 82px;
    display: flex;
    align-items: left;
    justify-content: center;
    color: #eee;
    padding: 8px 8px;
    font-weight: bold;
    text-align: center;
}
.evento-left .numero_dia {
    font-size: 56px;
}
.evento-left .mes{
    font-size: 16px;
    font-weight: normal;
}

.evento-rigth {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    background: #7cebd5;
    line-height: 1.02rem;
    color: #111827;
}

.evento-rigth .hora-evento{
    line-height: 1.5rem;
}

.descrip-evento{
    font-size: 0.9rem;
    margin: 5px 0;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.4s ease;
}

.eventoAcademico:hover .descrip-evento,
.eventoDeportivo:hover .descrip-evento,
.eventoClutural:hover .descrip-evento {         
    overflow: visible;
}

.tabs {
    display: flex;
    gap: 20px;   
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    border-bottom: 1px solid #b1b1b1;
}

.tabs .tab {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none; 
    color: #000000;
    line-height: 20px;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.tabs .tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #09b800;
    transition: width 0.1s ease;
}

.tabs .tab:hover::after {
    width: 100%;
}

.tab:hover{
    background:rgba(125, 232, 130, 0.1);
    transform: translatey(1px);
    color: #02b360;
}

/*imagenes de eventos.....}°-°{*/
.eventoDeportivo .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_deportivo.png"); 
    background-position: center;
    background-size:cover; 
    background-repeat: no-repeat;
}

.eventoCultural .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_cultural.png"); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.eventoAcademico .evento-rigth {
    background-image: 
        linear-gradient(rgba(163, 228, 215, 0.9), rgba(163, 228, 215, 0.9)), 
        url("../assets/fondo_academico.png"); 
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
